<!DOCTYPE html>
<html>
    <head>
        <title>Member Profile</title>
       
        <link rel="stylesheet" href="../stylesheets/template.css">
        
    </head>
    <body class="container" >
        <h1 style="text-align: center; margin-left: 25%;" >會員資料</h1>
           
            <div id="wrap">
                <div >
                    <p class="title">會員ID:</p>
                </div>
                <div >
                    <p ><%=id%></p>
                </div>
                    
            </div>
            <div id="wrap">
                <div >
                    <p class="title">會員帳號:</p>
                </div>
                <div >
                    <p ><%=user_name%></p>
                </div>
                    
            </div>
            <div id="wrap">
                <div >
                    <p class="title">會員e_mail:</p>
                </div>
                <div >
                    <p ><%=email%></p>
                </div>
                    
            </div>
            <div id="wrap">
                <div >
                    <p class="title">生日:</p>
                </div>
                <div >
                    <p ><%=birthday%></p>
                </div>
                    
            </div>
            <div id="wrap">
                <div >
                    <p class="title">會員性別:</p>
                </div>
                <div >
                    <p ><%=gender%></p>
                </div>
                    
            </div>
            <div id="wrap">
                <div >
                    <p class="title">居住國家:</p>
                </div>
                <div >
                    <p ><%=country%></p>
                </div>
                    
            </div>
            <div id="wrap">
                <div >
                    <p class="title">居住城市:</p>
                </div>
                <div >
                    <p ><%=city%></p>
                </div>
                    
            </div>
           
           

    </body>
</html>